* {
    box-sizing: border-box;
}

body {
    font-family: -apple-system, BlinkMacSystemFont, "Helvetica Neue", YuGothic, "ヒラギノ角ゴ ProN W3", Hiragino Kaku Gothic ProN, Arial, "メイリオ", Meiryo, sans-serif;
    background-color: #5ba7f4;
    color: #fff;
    margin: 0;
    padding: 0;
    width: 100vw;
    height: auto;
	background-color: #5ba7f4;
	background-image:
	 repeating-linear-gradient(-30deg,
	 #5af, #5bf 15px,
	 transparent 50% 0, transparent 30px);
}

header {
    background-color: #4060a5;
    height: 4vh;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}
header p {
    font-size: 2vh;
    margin: 0;
    margin-right: 4vw;
    padding: 0;
    color: #bbc;
}

#desc-container {
    margin: 2vmin 3vmin;
    margin-top: 10vmin;
}

#btn-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

#hl1 {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

h1 {
    font-size: 12vmin;
    font-family: 'Titillium Web', sans-serif;
}

h2 {
    font-size: 6vw;
    text-align: center;
    margin: 0;
    padding: 3vmin 0;
    border-left: 1vw solid #7bf;
    border-right: 1vw solid #7bf;
}

.elem {
    margin-left: 2vw;
    border-radius: 4px;
    
}

p {
    font-size: 1.5vw;
}

.btn {
    text-decoration: none;
    font-size: 4vmin;
    color: #fff;
}

button {
    background-color: #2b87d4;
    
    border-radius: 4vmin;
    padding: 2vmin 3vmin;
    margin: 4vmin;
    box-shadow: 4px 4px 4px rgba(0,0,128,0.4);
    transition-duration: 0.5s;
}






@keyframes typing { from { width: 0; } }
@keyframes blink-caret { 50% { border-color: transparent; } }

h1 { 
    font: bold 12vw Consolas, Monaco, monospace;
    border-right: .1em solid black;
    width: 16.5em; 
    width: 9ch;
    margin: 0;
    white-space: nowrap;
    overflow: hidden;
    animation: typing 1s steps(9, end),
	               blink-caret .5s step-end infinite alternate;
}
